<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:heading {"level":1,"align":"wide"} -->
    <h1 class="alignwide">404: Page Not Found</h1>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>The page you're looking for could not be found. It might have been removed, renamed, or did not exist in the first place.</p>
    <!-- /wp:paragraph -->

    <!-- wp:search {"label":"Search","buttonText":"Search"} /-->

    <!-- wp:heading {"level":2} -->
    <h2>Recent Posts</h2>
    <!-- /wp:heading -->

    <!-- wp:latest-posts {"postsToShow":5,"displayPostDate":true} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /--> 