.et_pb_scroll_top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: none;
    z-index: 9999;
}

.et_pb_scroll_top.et-visible {
    display: block;
    animation: fadeIn 0.4s ease-in-out;
}

.et-social-icons {
    float: right;
}

.et-social-icons li {
    display: inline-block;
    margin-left: 20px;
}

.et_pb_section {
    padding: 4% 0;
}
