.site-footer {
	background-color: #2b2b2b;
	color: #fff;
}

.footer-widgets {
	padding: 6%  0;
}

.footer-widget {
	float: left;
	color: #fff;
}

.footer-widget  a {
	color: #fff;
}

.et-footer-nav {
	background-color: rgb(255  255  255 /  5%);
}

.bottom-nav {
	padding: 15px  0;
}

.bottom-nav  li {
	display: inline-block;
	padding-right: 22px;
	font-size: 14px;
	font-weight: 600;
}

.footer-bottom {
	padding: 15px  0;
	background-color: rgb(0  0  0 /  32%);
}

.et-social-icons {
	float: right;
}

.et-social-icons  li {
	display: inline-block;
	margin-left: 20px;
}

.footer-info {
	padding-bottom: 10px;
	color: #666;
}

.scroll-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 999;
}

@media (width <= 980px) {

	.footer-widget {
		float: none;
		text-align: center;
		margin-bottom: 30px;
	}

	.et-social-icons {
		float: none;
		text-align: center;
	}
}
